

    @import "https://leeprky.github.io/themes/BaseStuff/alt-color.css";
    @import "https://leeprky.github.io/themes/FullyThemedDiscord/FullyThemedDiscord.css";
    @import "https://leeprky.github.io/snippits/coolsniipitsforthemes.css";
    @import "https://leeprky.github.io/themes/lode/default/support/gradients/luckfiregradientbuttons.css";
    @import "https://leeprky.github.io/themes/GreenBeGo/greenple-replacer.css";
    @import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";

    @import "https://raw.githack.com/mr-miner1/Better-Badges/main/theme.css";
    @import "https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css";
    
  
    @import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";
    
    /* Outdated Version Code*/
    :root {
       --theme: "WindowsXI";
       --build-latest: "081";
       --version-latest: "v1.1.1";
       --version-latest-long: "Version: " var(--version-latest) " (Latest) ";
       --version-long: "Version: " var(--version) " (Current) ";
       --theme-dl: "https://github.com/leeprky/WindowsXI"
    }
    
    #app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before{display:var(--outdated_windowsXI-081,block)!important;position:absolute;left:32%!important;width:fit-content;border-radius:0 0 12px 12px!important;top:48px!important}
    
